extends layout 

block content 
  h1=title
  hr

  if category
    h2=category.name
    
    p #{category.description}

    if category_items.length
      ul 
        each item in category_items 
          li 
            //- temporary url: replace when item detail page exists
            a(href=`/inventory/item${item.id}`) #{item.name}
      hr
      a(href=`/inventory/category${category.id}/update`) Update category
    else 
      p This category has no items!
      hr
      a(href=`/inventory/category${category.id}/update`) Update category
      br
      a(href=`/inventory/category${category.id}/delete`) Delete category
  else 
    p Category was not found.