extends layout 

block content 
  h1=title
  hr

  //- show item name, description, category, price, in_stock
  h2=item.name
  if category 
    p Category: 
      a(href=`/inventory/category${category.id}/`) #{category.name}
  else 
    p This item does not belong to any category!
  p #{item.description}

  p #[strong $#{item.price}]
  p no. in stock: #{item.number_in_stock}

  hr
  a(href=`/inventory/item${item.id}/update`) Update item
  br
  a(href=`/inventory/item${item.id}/delete`) Delete item