extends layout 

block content 
  h1=title
  hr

  //- show item name, description, category, price, in_stock
  h2=item.name
  p Category: 
    a(href=`/inventory/category${category.id}/`) #{category.name}
  p #{item.description}

  p #[strong $#{item.price}]
  p no. in stock: #{item.in_stock}